body {
    font-family: Arial, sans-serif;
}

#join-container {
    text-align: center;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
#nickname{
    border-color: #00ffff;
    font-family: sans-serif;
    font-size: 11pt;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-width: 3px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#color-picker{
    border-color: #00ffff;
    border-radius: 30px;
    border-width: 3px;
    height: 60px;
    width: 60px;
    -webkit-appearance: none;
    appearance: none;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0; 
}
#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 30px;
}

#join-chat{
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 11pt;
    border-color: #00ffff;
    font-family: sans-serif;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    border-width: 3px;
}
#chat-container {
    text-align: center;
}
#user-listcont {
    float: left;
    text-align: center;
    width: 16vw;
    border: 1vw solid #ccc;
    padding: 10px;
    height: 75vh;
    border-radius: 30px;
    overflow-y: auto;
    margin-left: auto;
    font-size: 18pt;
    margin-top: 4.5vh;
}
#userlistname{
    border-bottom: 1vw solid #ccc; 
    margin-left: -20%;
    margin-right: -20%;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 2.5vw;
    
}
#user-listcont::-webkit-scrollbar{
    display: none;
}
#user-list{
justify-content: center;
flex-direction: column;
word-wrap: break-word;
}
#chat-box {
    flex-direction: row;
    margin-right: auto;
    height: 75vh;
    width: 70.5vw;
    overflow-y: auto;
    padding: 10px;
    border: 1vw solid #ccc;
    margin-top: 4.5vh;
    border-radius: 30px;
    margin-bottom: 2.5vh;
    margin-left: auto;
}
#bottom-box{
    display: flex;
    flex-direction: row;
}
#emoji-button{
    border: 1px solid #ffffff;
    background-color: #ccc;
    border-radius:30px;
    width: 5%;
    font-size: 100%;
}
.emoji{
    border: 1px solid #ffffff;
    background-color: #ccc;
    border-radius:30px;
    font-size: 100%;
}
#message-input {
    width:79vw;
    border: 2vw solid #ccc;
    background-color: #ccc;
    color: black;
    border-radius: 30px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 20px;
    display: flex;
    font-size: calc(1vw  + 0.5vmin);
    text-align: center;
    margin-bottom: 5px;
    height:80%;
    max-height: 2vh;
}
#send-message{

    border: 2vw solid #00ffff;
    border-radius: 30px;
    display: flex;
    min-height: 5vh;
    height: 80%;
    max-height:9.5vh ;
    width: auto;
    font-size: calc(1vw + 0.5vh + 1vmin);
    margin-right: 25px;
    background-color: #00ffff;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
}
#bottom-box::-webkit-scrollbar{
    display: none;
}
.message {
    border-bottom: 1px solid #eee;
    padding: 5px;
    word-break: normal;
}

.nickname {
    font-weight: bold;
}

.time {
    color: #999;
    font-size: 0.8em;
}
